@import "@/styles/variables.scss";

.cartItemsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subTitle {
  white-space: pre-line;
  text-align: center;
}