@import "@/styles/variables";

.cart-items-section {
  display: flex;
  flex-direction: column;
  margin: 60px 0 120px;
}

.sub-title {
  white-space: pre-line;
  text-align: center;
}

.blank-cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 250px;
}

.move-shop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  background-color: $primary;
  color: white;
  margin-top: 15px;
}
