@import "@/styles/variables.scss";

.shopItemsBox {
  display: flex;
  flex-direction: column;
  margin: 60px 16px 30px 16px;
}

.titleBox {
  margin: 26px 0 26px 0;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: $text;
}

.subTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: $subText;
}

.itemsGridBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7px;
  grid-row-gap: 32px;
}
