@import "@/styles/variables";

.footer {
  position: absolute;
  bottom: 0;
  width: 375px;
  height: 85px;
  box-shadow: 0 0 0, 0 -5px 15px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.inner-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 327px;
  height: 48px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
  cursor: pointer;  
}

.total-price {
  font-weight: 400;
}

.buy {
  font-weight: 600;
}
