@import "@/styles/variables.scss";

.footer {
  position: absolute;
  bottom: 0;
  width: 375px;
  height: 85px;
  box-shadow: 0px 0px 0px, 0px -5px 15px lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.innerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 327px;
  height: 48px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
}

.totalPrice {
  font-weight: 400;
}

.buy {
  font-weight: 600;
}
