// Colors
$primary: #0F2E53;
$secondary: #EDEDED;
$title: #040000;
$subTitle: rgb(157, 155, 155);
$text: #484848;
$error: #ff0033;

// Fonts
$regular: "Noto Sans KR", sans-serif;

// Sizes
$mobile: 375px;
$desktop: 1024px;
