/* stylelint-disable scss/dollar-variable-pattern */
// Colors
$primary: #0F2E53;
$secondary: #EDEDED;
$text: #1A1A1A;
$subText: #808080;
$percent: #e94734;

// Fonts
$regular: "Noto Sans KR", sans-serif;

// Sizes
$mobile: 375px;
$desktop: 1024px;
